[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "shell/zsh-plugins/autoupdate"]
	path = shell/zsh-plugins/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins
[submodule "shell/zsh-plugins/zsh-completions"]
	path = shell/zsh-plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shell/zsh-themes/powerlevel10k"]
	path = shell/zsh-themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
