[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "shell/zsh/custom/plugins/autoupdate"]
	path = shell/zsh/custom/plugins/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins
[submodule "shell/zsh/custom/plugins/zsh-autosuggestions"]
	path = shell/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/zsh/custom/themes/powerlevel10k"]
	path = shell/zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "shell/oh-my-zsh/custom/plugins/autoupdate"]
	path = shell/oh-my-zsh/custom/plugins/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins
[submodule "shell/oh-my-zsh/custom/plugins/zsh-completions"]
	path = shell/oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
